<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Maya Burhanpurkar</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="mystyle.css">
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="bootstrap-social-gh-pages/bootstrap-social.css">

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Maya Burhanpurkar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#work">Work</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#awards">Awards</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#pubs">Publications</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#research">Research</a>
					</li>
<!-- 					<li class="nav-item active">
						<a class="nav-link" href="#courses">Courses</a>
					</li> -->
					<li class="nav-item active">
						<a class="nav-link" href="#extracurriculars">Extracurriculars</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#media">Media</a>
					</li>
<!-- 					<li class="nav-item disabled">
						<a class="nav-link" href="#">Contact</a>
					</li> -->
				</ul>

				<ul class="navbar-nav ml-auto nav-flex-icons">
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="https://twitter.com/mburhanpurkar?lang=en">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="https://github.com/mburhanpurkar">
							<i class="fa fa-github"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/mburhanpurkar/">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>

	<main role="main">

		<div class="container aboutme">
			<h1 style="padding-bottom:20px;">About Me</h1>

			<div class="row">
				<div class="col-md-8">
						<p align="justify">I studied physics and computer science at Harvard, where I graduated summa cum laude with highest honors, and I was a Technology and Innovation Fellow at the Business School. I will soon begin an MPhil in Economics at Oxford as a <a href="https://news.harvard.edu/gazette/story/2021/11/a-chance-to-focus-on-an-academic-passion-at-oxford/">Rhodes Scholar</a>. I have recently worked in 
						investing, from early stage VC to public global macro, but my academic background spans machine learning, autonomous tech, theoretical physics, and fair AI. Some of my recent research projects include 
						biologically-inspired techniques for adversarial ML robustness, unsupervised ML methods for understanding topological phase transitions, and deep convolutional neural nets on dark matter simulations. </p>

                        <p align="justify">After traveling to the Arctic in 2013, I pursued climate advocacy and produced an open-source documentary about climate change featuring author Margaret Atwood and astronaut Chris Hadfield. The documentary, <a href='http://mayab.ca/400ppm/'>400PPM</a>, was awarded the international Gloria Barron Prize.</p>

						</div>
						<div class="col-md-4 align-items-center justify-content-center">
							<img class="img-fluid" src="maya.jpg" alt="Maya Burhanpurkar" width=300px height=300px>
						</div>
					</div>

					<hr class="featurette-divider">
				</div>




      	<div class="container marketing">
      		<h1 id="work" style="padding-bottom:40px;">Work Experience</h1>

      		<div class="row featurette">
      			<div class="row">
      				<div class="col-lg-3">
      					<center>
      						<a href="https://www.deshaw.com/">
      							<img class="img-fluid" src="desco.png" alt="The DE Shaw Group" width=100% height=auto>
      						</a>

      						<p><br></p>	

      						<h2>D. E. Shaw</h2>
      						<h5>Investment Analyst</h5><br>
      						<i b=>Summer 2021, Feb-Aug 2022</i>
      						<p>DESRI has raised over $15 billion of debt and equity capital for over 4500MWac of renewable assets</p>
      					</center>

      					<!-- <p align="justify"><br>Utility-scale solar private equity</p> -->
      				</div>


      				<div class="col-lg-3">
      					<center>
      						<a href="https://georgian.io/">
      							<img class="img-fluid" src="georgian.png" alt="Georgian Partners" width=100% height=auto>
      						</a>

      						<p><br></p>

      						<h2>Georgian</h2>
      						<h5>Applied Research Scientist Intern</h5>
      						<i>Jan-May 2021</i>
       					<p>Georgian is a $2B+ tech-focused growth equity firm and fintech company in Toronto</p> 
      					</center>

      					<!-- <p align="justify"><br><br>Time-series analysis for an ML-based deal sourcing engine</p> -->
      				</div>

      				<div class="col-lg-3">
      					<center>
      						<a href="https://www.bridgewater.com/">
      							<img class="img-fluid" src="bridgewater.png" alt="Bridgewater" width=100% height=auto>
      						</a>

      						<p><br></p>
      						<h2>Bridgewater</h2>
      						<h5>Investment Associate Intern</h5><br>
      						<i>Summer 2020</i>
       					<p>Bridgewater is one of the world's largest and most successful macro hedge funds</p>

      					</center>
      					<!-- <p align="justify"><br>Macro investing research</p> -->
      				</div>

      				<div class="col-lg-3">
      					<center>
      						<a href="https://www.contrarycap.com/">
      							<img class="img-fluid" src="contrary.png" alt="Contrary Cap." width=1000% height=auto>
      						</a>

      						<p><br></p>
      						<h2>Contrary</h2>
      						<h5>Venture Partner</h5><br>
      						<i>2018-2021</i>
      						<p>Contrary is an early-stage VC fund backed by cofounders of Twitter, AirBnB, Facebook, and Reddit</p>
      					</center>
      					<!-- <p align="justify"><br>Sourcing and due dilligence; ran a Boston-wide pitch competition</p> -->
      				</div>

      			</div>
      		</div>
      	</div>



               <div class="container marketing">
               	<hr class="featurette-divider">
               	<h1 id="awards" style="padding-bottom:20px;">Selected Distinctions</h1>

               	<div class="row">
               		<div class="col-sm">
               			<h4>Academic Honors</h4>

               			<h6 style="text-align:left;">
               				Phi Beta Kappa, Senior 48
               				<span style="float:right;">
               					2020
               				</span>
               			</h6>
               			<p>Inducted by Harvard into national academic honor society <span style="float:right;"><a href="https://www.thecrimson.com/article/2020/11/30/pbk-fall-2020-senior-48/">article</a></span></p>

                        <h6 style="text-align:left;">
                           Harvard Business School Technology and Innovation Fellow
                           <span style="float:right;">
                              2020/21
                           </span>
                        </h6>
                        <p>One of 13 students selected for the program <span style="float:right;"><a href="https://www.hbs.edu/mba/seas/Pages/profiles.aspx">article</a></span></p>


               			<h6 style="text-align:left;">
               				John Harvard Scholarship
               				<span style="float:right;">
               					2018/2020
               				</span>
               			</h6>
               			<p>Awarded annually to top 5% of the class in an academic year</p>

               			<h6 style="text-align:left;">
               				Detur Book Prize
               				<span style="float:right;">
               					2016-17
               				</span>
               			</h6>
               			<p>Awarded to freshmen achieving a 4.0 GPA for the academic year</p>


               			<h6 style="text-align:left;">
               				Research Fellowships and Awards
               				<span style="float:right;">
               					2017-20
               				</span>
               			</h6>
               			<p>PRISE Fellow (2019), Herchel Smith Fellow (2019), Harvard College Research Program Fellow (2018/2019/2020)</p>

               			<br>
               			<h4>Adventus Robotics</h4>
               			<h6 style="text-align:left;">
               				MIT-Lemelson Prize Winner ($10k)
               				<span style="float:right;">
               					2021
               				</span>
               			</h6>
               			<p>National MIT prize for for Collegiate Inventors<span style="float:right;"><a href="https://lemelson.mit.edu/award-winners/seung-hwan-and-maya-burhanpurkar">article</a></span></p>

               			<h6 style="text-align:left;">
               				i3 Innovation Challenge Gold Prize Winner ($10k)
               				<span style="float:right;">
               					2020
               				</span>
               			</h6>
               			<p>Harvard Center for Technology & Entreprenuership <span style="float:right;"><a href="http://tech.seas.harvard.edu/past-winners">article</a></span></p>

               			<h6 style="text-align:left;">
               				Harvard LPCE Launch Fund Winner ($10k)
               				<span style="float:right;">
               					2020
               				</span>
               			</h6>
               			<p>Lemann Program on Creativity & Entrepreneurship <span style="float:right;"><a href="https://lpce.bokcenter.harvard.edu/launch-fund">article</a></span></p>

               			<h6 style="text-align:left;">
               				Harvard iLab President's Innovation Challenge
               				<span style="float:right;">
               					2020
               				</span>
               			</h6>
               			<p>One of 5 finalists selected from 500+ companies <span style="float:right;"><a href="https://pic2021.innovationlabs.harvard.edu/team/adventus-robotics">article</a></span></p>


               			<h6 style="text-align:left;">
               				The Allston Venture Fund Grant Recepient
               				<span style="float:right;">
               					2020/21
               				</span>
               			</h6>
               			<p>Awarded $75k from Bain Capital, General Catalyst, and others <span style="float:right;"><a href="https://innovationlabs.harvard.edu/allston-venture-fund/">article</a></span></p>
               		</div>

               		<div class="col-sm">
               			<h4>Other Awards</h4>

               			<h6 style="text-align:left;">
               				Queen Elizabeth II Diamond Jubilee Medal
               				<span style="float:right;">
               					2012
               				</span>
               			</h6>
               			<p>Presented on behalf of the Governer General of Canada <span style="float:right;"><a href="http://www.northsimcoenews.com/index.php/online-edition/67-december2012-january2013/1133-oro-girl-age-13-awarded-queen-elizabeth-jubilee-medal">article</a></span></p>

               			<h6 style="text-align:left;">
               				Canada's Top 20 Under 20
               				<span style="float:right;">
               					2013
               				</span>
               			</h6>
               			<p>Presented annually to the top 20 youth in the nation <span style="float:right;"><a href="https://www.simcoe.com/news-story/3833603-teen-wins-top-20-under-20-award/">article</a></span></p>

               			<h6 style="text-align:left;">
               				Corporate Knight's Top 30 Under 30
               				<span style="float:right;">
               					2018
               				</span>
               			</h6>
               			<p>Awarded to 20 Canadians for sustainability efforts <span style="float:right;"><a href="https://www.corporateknights.com/reports/2017-30-under-30/meet-2017-top-30-30-sustainability-15081324/">article</a></span></p>

               			<h6 style="text-align:left;">
               				Emerging Canadian Female Leader of the Year
               				<span style="float:right;">
               					2016
               				</span>
               			</h6>
               			<p>Awarded by Brescia University and presented by Geena Davis <span style="float:right;"><a href="https://brescia.uwo.ca/communications/media_relations/media_releases/2016/brescia_university_college_announces_2016_brescialead_award_recipients.php">article</a></span></p>

               			<h6 style="text-align:left;">
               				International Barron's Prize for Young Heroes
               				<span style="float:right;">
               					2016
               				</span>
               			</h6>
               			<p>Gloria Barron prize for public service and community impact <span style="float:right;"><a href="https://barronprize.org/meet-the-winners/2016-winners/">article</a></span></p>

               			<h6 style="text-align:left;">
               				Ontario’s Junior Citizen of the Year
               				<span style="float:right;">
               					2011
               				</span>
               			</h6>
               			<p>Presented by the Lieutenant Governor of Ontario <span style="float:right;"><a href="https://www.ocna.org/juniorcitizen">article</a></span></p>

               			<h6 style="text-align:left;">
               				Science fair research awards
               				<span style="float:right;">
               					2013/2014/2015
               				</span>
               			</h6>
               			<p>Two-time Canada Wide Science Fair Grand Platinum award (2012/14), Team Canada ISEF (2013), Google International Science Fair Semi-Finalist (2013)<span style="float:right;"><a href="https://news.engineering.utoronto.ca/u-t-engineering-mentored-student-wins-canada-wide-science-fair/">article</a></span></p>


<!-- <br>

    <h6 style="text-align:left;">
University of Toronto Book Award
    <span style="float:right;">
        2016
            </span>
    </h6>
    <p>Presented to the graduating senior with the highest GPA</p> -->
     <br><h4>University Scholarships</h4>


    <h6 style="text-align:left;">
    	University of Toronto National Scholarship, National Schulich Leaders Scholarship (declined)
    	<span style="float:right;">
    		2016
    	</span>
    </h6>
    <p>Awarded full ($70k) scholarships to study at the University of Toronto and University of Waterloo</p>

    <h6 style="text-align:left;">
    	TD National Scholarship (declined)    <span style="float:right;">
    		2016
    	</span>
    </h6>
    <p>Awarded a $70k scholarship to study at any university in Canada</p>

    
</div>

</div> 
</div>



<div class="container marketing">
	<hr class="featurette-divider">
	<h1 id="pubs" style="padding-bottom:20px;">Publications</h1>

	<div class="row">
		<div class="col-8">
			<h5>2021</h5>
			<p>M. Burhanpurkar, Z. Deng, C. Dwork, L. Zhang. 4/9/2021. <a href="https://arxiv.org/abs/2111.03135">“Scaffolding Sets.”</a> arXiv preprint.</p>
         <hr/>

			<h5>2019</h5>
			<p>The CHIME/FRB Collaboration. 1/9/2019. <a href="https://www.nature.com/articles/s41586-018-0867-7">“Observations of fast radio bursts at frequencies down to 400 megahertz.”</a> Nature, 566, 7743, Pp. 230-234.</p>

			<p>The CHIME/FRB Collaboration. 1/9/2019. <a href="https://www.nature.com/articles/s41586-018-0864-x">“A second source of repeating fast radio bursts.”</a> Nature, 566, 7743, Pp. 235-238.</p>

			<hr/>
			<h5>2018</h5>
			<p>The CHIME/FRB Collaboration. 8/9/2018. <a href="https://iopscience.iop.org/article/10.3847/1538-4357/aad188">“The CHIME Fast Radio Burst Project: System Overview.”</a> The Astrophyiscal Journal, 863, 1.</p>

			<hr/>
			<h5>2017</h5>
			<p>M. Burhanpurkar, M. Labbe, C. Guan, F. Michaud, and J. Kelly. 7/2017. <a href="https://ieeexplore.ieee.org/document/8009393">“Cheap or Robust? The practical realization of self-driving wheelchair technology.”</a> International Conference on Rehabilitation Robotics.</p>
		</div>
		<div class="col-4">
			<p align="right">
				<img class="img-fluid" src="nature.png" alt="Nature cover" width=90% height=auto>
			</p>
		</div>
	</div>



      	<div class="container marketing">
      		<hr class="featurette-divider">

      		<h1 id="research">Research Experience</h1>


      		<!-- Three columns of text below the carousel -->


<div class="row" style="padding-top:50px;">
<div class="col-md-3">
<img class="img-fluid" src="webviewer.png" alt="Dedispersion Example" width="240" height="240">
</div><!-- /.col-lg-4 -->
<div class="col-md-8 col-sm-8 col-xs-8">
<h3>CHIME Fast Radio Burst Collaboration </h3>

<p align="justify">I worked on the CHIME Fast Radio Burst collaboration for a year, a project aiming to solve the mystery of cosmic FRBs. CHIME collects and analyses ~1TB/s of data in real-time. I worked on the initial stage of detections, which removes radio-frequency interference, amplifies signal, and searches for candidate FRBs in telescope beams. I worked on writing a wide variety of noise filtration <a href="https://github.com/kmsmith137/rf_pipelines">assembly language kernels</a>, <a href="https://github.com/mburhanpurkar/web_viewer">visualization tools</a>, and miscellaneous optimized tools, including what is likely the world’s fastest <a href="https://github.com/mburhanpurkar/fast_xorshift_plus">pseudo-random number generator</a>. 
</p>

<p><a href="https://iopscience.iop.org/article/10.3847/1538-4357/aad188">[ApJ System Overview Paper]</a> <a href="https://www.nature.com/articles/s41586-018-0867-7">[Nature Detections Paper]</a> <a href="https://www.nature.com/articles/s41586-018-0864-x">[Nature Second Repeater Paper]</a></p>

</div><!-- /.col-lg-4 -->
</div>

<div class="row" style="padding-top:30px;">
	<div class="col-md-3">
		<img class="img-fluid" src="pulsar.png" alt="Fuzzy Train Stacking" width="240" height="240">
	</div><!-- /.col-lg-4 -->
	<div class="col-md-8 col-sm-8 col-xs-8">
		<h3>Blind Pulsar Search</h3>

<p align="justify">I worked with Prof. Kendrick Smith at the Perimeter Institute for Theoretical Physics on developing and testing new algorithms for blind pulsar searches that leverage dynamic programming and machine learning techniques. These algorithms improve the computational cost of pulsar search by several orders of magnitude and make visible pulsars currently orders of magnitude too faint to see. <i>This work was supported by the Perimeter Institute Summer Undergraduate Program.</i></p>

</div><!-- /.col-lg-4 -->
	</div>

	<div class="row" style="padding-top:30px;">
		<div class="col-md-3">
			<img class="img-fluid" src="winding.png" alt="Winding Analysis" width="240" height="240">
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<h3>Unsupervised Learning of Topological Phase Transitions</h3>

<p align="justify">I worked with Prof. Subir Sachdev at Harvard on generalizing the application of a diffusion maps to learning the BKT transition in the 2D XY model to more complicated models. We investigated the action of the diffusion map on a 3D XY model coupled to an Ising gauge theory. Our goal is to develop an approach could be useful to probe phases of new complex systems that cannot be investigated analytically.  <i>This work was supported by the Herchel Smith Fellowship,
the Harvard College Research Program, and Harvard College Program for Research in Science and Engineering. </i></p>
<p><a href="https://github.com/mburhanpurkar/xy3d">[Github]</a> <a href="https://drive.google.com/file/d/1A4tRrmcVYDfnoh_KEgzTvavrzbd5zYmD/view?usp=sharing">[Physics 90r: Supervised Research paper]</a></p>
			</div>
		</div>
<div class="row" style="padding-top:30px;">
<div class="col-md-3">
<img class="img-fluid" src="wheelchair.png" alt="RTAB Map Planner" width="240" height="240">
</div>
<div class="col-md-8 col-sm-8 col-xs-8">
<h3>Autonomous Navigation Stack</h3>

<p align="justify">I worked with Prof. Jonathan Kelly at the Institute for Aerospace Studies at the University of Toronto on developing a self-driving wheelchair to assist people with severe physical disabilities. For the project, I wrote a semi-autonomous assistive mode package using the Point Cloud Library, RTAB-Map, and ROS and contributed to the fully autonomous package for the wheelchair. I presented aposter at the IEEE International Conference on Rehabilitation Robotics in London.<p/>

<p><a href="https://ieeexplore.ieee.org/document/8009393">[ICORR Paper]</a> <a href="https://drive.google.com/file/d/19NtP68EY9ncY9TCxCB20Wi_ED964ScC9/view?usp=sharing">[Poster]</a></p>
</div>
</div>

<div class="row" style="padding-top:30px;">
<div class="col-md-3">
<img class="img-fluid" src="imagenet.png" alt="Gazes on an ImageNet Image" width="240" height="240">
</div><!-- /.col-lg-4 -->
<div class="col-md-8 col-sm-8 col-xs-8">
<h3>Adversarial Robustness (ongoing)  </h3>

<p align="justify">I worked with Dr. Andrzej Banburski at MIT on investigating biologically-inspired mechanisms for enhancing adversarial robustness in ResNets for image recognition. Our goal is to design more robust and efficient classifiers. I implemented parallel spatial transformers and trainable gaze models as intelligent attention mechanisms to augment existing retinal and cortical fixation methods described <a href="https://arxiv.org/abs/2006.16427">here</a>. </p>

</div><!-- /.col-lg-4 -->
</div>

<div class="row" style="padding-top:30px;">
<div class="col-md-3">
<img class="img-fluid" src="quijote.png" alt="Quijote Simulation" width="240" height="240">
</div><!-- /.col-lg-4 -->
<div class="col-md-8 col-sm-8 col-xs-8">
<h3>ML for Dark Matter (ongoing) </h3>

<p align="justify">I worked with Prof. Cora Dvorkin at Harvard on using CNNs and scattering transforms to better constrain LCDM parameters. Our goal is to augment existing methods for parameter estimation with state of the art machine learning approaches. We utilized the 1PB <a href="https://arxiv.org/abs/1909.05273">Quijote Simulations</a> to train our models. <i>This work was funded by the Harvard College Research Program.</i>
</p>
</div>

<!-- <div class="row" style="padding-top:30px;">
<div class="col-md-3">
<img class="img-fluid" src="quijote.png" alt="Quijote Simulation" width="240" height="240">
</div> -->
<!-- <div class="col-md-8 col-sm-8 col-xs-8">
<h3>Miscellaneous Course Final Projects </h3>

<ul>
	<li>Physics 212 (Cosmology): Mukhanov Sasaki Solver [github] [paper]</li>
	<li>Physics 90r (Resarch, Prof. Cora Dvorkin): 2D Scattering Transforms for the Quijote Simulations [paper]</li>
	<li>CS 91r (Research, Prof. Tomaso Poggio): Biologically Inspired Techniques for Adversarial Robustness [paper]</li>
	<li>Physics 144 (Symmatries and Geometries in Quantum Mechanics): the Fractional Quantum Hall Effect [paper]</li>
	<li>CS 182 (Artificial Intelligence): Model Predictive Path Following Control in a Differential Autonomous Robot [paper]</li>
	<li>Neuro 140 (Biological and Artificial Intelligence): Autoencoders and Convolutional Neural Networks for Quick, Draw! [github] [paper] </li>
</ul>

</div> -->




      					<!-- <div class="container marketing">
      						<hr class="featurette-divider">

      						<h1 id="courses">Coursework</h1>

      						<div class="row" style="padding-top:30px;">
      							<div class="col-md-8 col-sm-8 col-xs-8">
      								<h3>Mukhanov-Sasaki Solver</h3>

      								<p align="justify">My final project for Prof. Cora Dvorkin’s graduate course Physics 212: Cosmology. We
      									implemented a Mukhanov-Sasaki code (see, for example, Daniel Baumann’s TASI notes)
      									to determine the scalar and tensor power spectra for an arbitrary inflationary potential
      									with the ultimate goal of generating the figure to the left that reproduces results from
      									the most recent Plank cosmology paper. Because Plank is able to measure observables
      									derived from the tensor and scalar perturbations, effeciently calculating their theoretical
      								values is a useful test for proposed inflationary potentials. </p>
      								<p> [Github] [PDF]</p>
      							</div>
      							<div class="col-md-3">
      								<img class="img-fluid" src="planck.png" alt="Spectral Tilt and Tensor to Scalar Ratio" width="240" height="240">
      							</div>
      						</div>
      						<div class="row" style="padding-top:30px;">
      							<div class="col-md-8 col-sm-8 col-xs-8">
      								<h3>The Fractional Quantum Hall Effect</h3>

      								<p align="justify">Lecture notes for a final presentation for Prof. Eugene Demler’s course on symmetry, group theory,
      									and lie algebras on the integer and fractional quantum Hall effects. The notes cover traditional
      									quantum mechanical description and briefly introduces field-theoretic ideas summarizing the ideas
      								presented in lecture notes by David Tong and Patrik Fazekas. </p>
      								<p>[PDF]</p>
      							</div>
      							<div class="col-md-3">
      								<img class="img-fluid" src="fqhe.png" alt="FQHE" width="240" height="240">
      							</div>
      						</div>
      						<div class="row" style="padding-top:30px;">
      							<div class="col-md-8 col-sm-8 col-xs-8">
      								<h3>Asteroid Orbit Determination</h3>

      								<p align="justify">My code for automated Gaussian orbit determination written during my time at the Summer Science
      								Program and my report on the orbital parameters of the near-Earth asteroid 4055 Magellan with an accompanying report detailing the relevant theory and experimental methods.</p>
      								<p>[Github][PDF]</p>
      							</div>
      							<div class="col-md-3">
      								<img class="img-fluid" src="asteroid.png" alt="Asteroid Photographic Plate" width="240" height="240">
      							</div>
      						</div>
 -->


      						<div class="container marketing">
      							<hr class="featurette-divider">
      							<h1 id="extracurriculars" style="padding-bottom:20px;">Extracurricular Activities</h1>

               <!-- This is taken from https://miketricking.github.io/bootstrap-image-hover/
               	There are many other examples of really nice effects here-->

               	<div class="row" style="padding-top:30px;">

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="adventus.png" alt="">
               				<div class="overlay">
               					<h2>Adventus Robotics, Founder and CEO</h2>
               					<a class="info" href="https://www.adventusrobotics.com/">Website</a>
               					<a class="info" href="#awards">Awards</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="400ppm.png" alt="">
               				<div class="overlay">
               					<h2>400 PPM, documentary featuring Margaret Atwood and Chris Hadfield</h2>
               					<a class="info" href="http://mayab.ca/400ppm/">Watch here</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="hsr.png" alt="">
               				<div class="overlay">
               					<h2>Harvard Science Review (2020-21)</h2>
               					<a class="info" href="https://harvardsciencereview.files.wordpress.com/2021/04/finaldraft_hsr2020-2021master.pdf">Latest Article (downloads PDF)</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="HDAG.png" alt="">
               				<div class="overlay">
               					<h2>Harvard Data Analytics Consluting Group (2020)</h2>
               					<a class="info" href="https://www.harvardanalytics.org/">Case Team Leader</a>
               				</div>
               			</div>
               		</div>

               	</div>

               	<div class="row" style="padding-top:30px;">

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="hbs.png" alt="">
               				<div class="overlay">
               					<h2>Harvard Business School Technology & Innovation Fellow (2020-21)</h2>
               					<a class="info" href="https://www.hbs.edu/mba/seas/Pages/profiles.aspx">Profile</a>
               				</div>
               			</div>
               		</div>


               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="uclq.png" alt="">
               				<div class="overlay">
               					<h2>UCLQ Quantum Tech Summer School (2018)</h2>
               					<a class="info" href="https://www.ucl.ac.uk/quantum/study-here/uclq-quantum-tech-summer-school">Website</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="sps.jpg" alt="">
               				<div class="overlay">
               					<h2>Harvard Society for Physics Students</h2>
               					<a class="info" href="http://www.hcs.harvard.edu/~physics/">President, 2019-20</a>
               					<a class="info" href="https://equityinclusion.physics.harvard.edu/apsidearep">APS-IDEA, 2020-21</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="wip.png" alt="">
               				<div class="overlay">
               					<h2>Harvard Undergraduate Women in Physics</h2>
               					<a class="info" href="https://women.physics.harvard.edu/">Board Member (2020-21)</a>
               				</div>
               			</div>
               		</div>

               	</div>

               	<div class="row" style="padding-top:30px;">

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="harvard.png" alt="">
               				<div class="overlay">
               					<h2>Physics Teaching</h2>
               					<a class="info" href="https://academicresourcecenter.harvard.edu/peer-tutoring">Peer Tutor (2018-19)</a>
               					<a class="info" href="https://scholar.harvard.edu/morii/classes/physics-143a-quantum-mechanics-i">Quantum CA (2020)</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="scas.png" alt="">
               				<div class="overlay">
               					<h2>Volunteer (2020-21)</h2>
               					<a class="info" href="http://www.masmallclaims.org/">Small Claims Legal Advisory Service</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="mars.jpg" alt="">
               				<div class="overlay">
               					<h2>MaRS DD Studio [Y] Fellow (2016-17)</h2>
               					<a class="info" href="https://drive.google.com/file/d/1ndd1eYk70zhavwm7je3dhel-2jAwqOIy/view?usp=sharing">Final Report</a>
               					<a class="info" href="https://betakit.com/tag/studio-y/">Program Info</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="deloitte.png" alt="">
               				<div class="overlay">
               					<h2>Deloitte Consulting (2019)</h2>
               					<a class="info" href="#extracurriculars">Early Mentorship Program</a>
               				</div>
               			</div>
               		</div>

               	</div>


               	<div class="row" style="padding-top:30px;">

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="ssp.png" alt="">
               				<div class="overlay">
               					<h2>Near-Earth Asteroid Orbit Determination Project</h2>
               					<a class="info" href="https://github.com/mburhanpurkar/asteroid">Github</a>
               					<a class="info" href="https://drive.google.com/file/d/1mwxNgE51TAHSU1bY2_eB3m2KksI185tm/view?usp=sharing">Paper</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="iqc.png" alt="">
               				<div class="overlay">
               					<h2>Undergraduate School on Experimental Quantum Information Processing (2019)</h2>
               					<a class="info" href="https://uwaterloo.ca/institute-for-quantum-computing/useqip">Website</a>
               				</div>
               			</div>
               		</div>

               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="PI.png" alt="">
               				<div class="overlay">
               					<h2>Perimeter Institute Summer Undergraduate Program (2018)</h2>
               					<a class="info" href="https://www.perimeterinstitute.ca/about/careers/positions/undergraduate">Website</a>
               					<a class="info" href="https://insidetheperimeter.ca/people-of-pi-teen-science-whiz-maya-burhanpurkar/">Profile</a>
               				</div>
               			</div>
               		</div>


               		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               			<div class="hovereffect">
               				<img class="img-responsive" src="hilab.png" alt="">
               				<div class="overlay">
               					<h2>Harvard Innovation Lab (2020-21)</h2>
               					<a class="info" href="https://pic2021.innovationlabs.harvard.edu/team/adventus-robotics">Harvard-Wide Presidents' Challenge (Top 5)</a>
               				</div>
               			</div>
               		</div>

               	</div>



               </div>






<!--  <p><b>Unsupervised machine learning topological phases.</b> A brief introduction to topological phase transitions and machine learning intended for undergraduate students. This talk was given as a final presentation for Harvard's PRISE summer research program. Video link. </p>
 <p><b>CHIME FRB: searching for an astrophysical mystery.</b> A talk intended for a general audience introducing fast radio bursts and the CHIME telescope. Video link. </p>
 <p><b>TEDx Youth. </b> A talk on the value of diversity. Video link. </p> -->
 <hr class="featurette-divider">
</div>


<div class="album py-5">
	<div class="container">
		<h1 id="media" style="padding-bottom:20px;">In the Media</h1>


		<div class="card-deck">

						<div class="card mb-4 shadow-sm">
				<a href="https://news.mit.edu/2021/collegiate-inventors-awarded-lemelson-mit-student-prize-0426">
					<img class="card-img-top" src="LMIT.png" alt="Lemelson-MIT Profile">
				</a>
				<!-- {% include harvard.png width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
				<div class="card-body">
					<p class="card-text">A profile by MIT News for my work on an autonomous wheelchair awarded the MIT-Lemelson Student Prize</p>
				</div>
			</div>


			<div class="card mb-4 shadow-sm">
				<a href="https://www.seas.harvard.edu/news/2017/10/driven-discover">
					<img class="card-img-top" src="seas.png" alt="Harvard Gazette Profile">
				</a>
				<!-- {% include harvard.png width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
				<div class="card-body">
					<p class="card-text">A profile in the Harvard University magazine, the Harvard Gazette, for my work on CHIME and the autonomous wheelchair</p>
				</div>
			</div>


			<div class="card mb-4 shadow-sm">
				<a href="https://www.seas.harvard.edu/news/2020/06/driving-force">
					<img class="card-img-top" src="wheelchair_work.png" alt="Harvard SEAS Profile">
				</a>
				<div class="card-body">
					<p class="card-text"> A profile by the Harvard School of Engineering and Applied Sciences after winning the i3 Innovation Challenge for my self-driving tech startup </p>
				</div>
			</div>

			
		</div>

		<div class="card-deck">


			<div class="card mb-4 shadow-sm">
				<a href="https://www.cbc.ca/2017/wearecanada/forget-renaissance-man-this-teen-is-a-phenom-for-the-21st-century-1.4086184">
					<img class="card-img-top" src="wearecanada.png" alt="CBC We are Canada">
				</a>
				<div class="card-body">
					<p class="card-text"> A profile produced by the Canadian Broadcasting Company (CBC) for Canada's 150th annniversary (link to view video outside Canada) </p>
				</div>
			</div>

			<div class="card mb-4 shadow-sm">
				<a href="https://youtu.be/qDGsnugyRSQ">
					<img class="card-img-top" src="cbciwd.png" alt="CBC International Women's Day">
				</a>            
				<div class="card-body">
					<p class="card-text">A segment on CBC Newsnight for International Women's Day celebrating women in STEM</p>
				</div>
			</div>

						<div class="card mb-4 shadow-sm">
				<a href="https://www.corporateknights.com/magazines/2017-better-world-mba-issue/meet-2017-top-30-30-sustainability-15081324/">
					<img class="card-img-top" src="30under30.png" alt="30 Under 30">
				</a>            
				<div class="card-body">
					<p class="card-text">Corporate Knights' Top 30 Under 30 profile for work in environmental sustainability</p>
				</div>
			</div>

		</div>



		<div class="card-deck">

			<div class="card mb-4 shadow-sm">
				<a href="https://www.popsci.com/teenage-scientist-captures-arctic-ice-melt-on-film/">
					<img class="card-img-top" src="atwood.png" alt="Popular Science">
				</a>            
				<div class="card-body">
					<p class="card-text">Popular Science profile for 400 PPM documentary release</p>
				</div>
			</div>

						<div class="card mb-4 shadow-sm">
				<a href="https://insidetheperimeter.ca/people-of-pi-teen-science-whiz-maya-burhanpurkar/">
					<img class="card-img-top" src="maya_PI.png" alt="Perimeter Institute Profile">
				</a>            
				<div class="card-body">
					<p class="card-text">Perimeter Institute for Theoretical Physics profile for work on the CHIME telescope</p>
				</div>
			</div>


			<div class="card mb-4 shadow-sm">
				<a href="https://www.seeitbeitstemit.com/get-inspired/maya-burhanpurkar">
					<img class="card-img-top" src="calendar.png" alt="Women in STEM Calendar">
				</a>            
				<div class="card-body">
					<p class="card-text">Profile accompanying inculsion in the inaugural See It Be It STEM It Women in STEM calendar</p>
				</div>
			</div>

		</div>



<div class="card-deck">

			<div class="card mb-4 shadow-sm">
				<a href="https://www.tvo.org/video/the-miraculous-maya-burhanpurkar">
					<img class="card-img-top" src="tvo.png" alt="TVO Feature">
				</a>            
				<div class="card-body">
					<p class="card-text">TVO (Television Ontario) interview (outside Canada <a href="https://www.youtube.com/watch?v=tz8OjVRQ0Ws&feature=youtu.be">link</a>)</p>
				</div>
			</div>

						<div class="card mb-4 shadow-sm">
				<a href="https://news.engineering.utoronto.ca/wheelchairs-get-robotic-retrofit-become-self-driving/">
					<img class="card-img-top" src="uoft.png" alt="UofT Profile">
				</a>            
				<div class="card-body">
					<p class="card-text">University of Toronto Engineering article on work in Prof. Jonathan Kelly's autonomous sytems lab</p>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<a href="https://youtu.be/Y3nYYbaYgPk">
					<img class="card-img-top" src="brescia.png" alt="Brescia Profile">
				</a>            
				<div class="card-body">
					<p class="card-text">Profile for the Bresica Emerging Canadian Female Leader of the Year award</p>
				</div>
			</div>

			<div class="card mb-4 shadow-sm">
				<a href="https://youtu.be/gjDpzDE1xLc">
					<img class="card-img-top" src="tedx.jpg" alt="TEDxYouth">
				</a>            
				<div class="card-body">
					<p class="card-text">TEDxYouth talk on talent diversity (2014)</p>
				</div>
			</div>

		</div>

	</div>
</div>

<p>Other fun things: I was featured in a book, <a href="https://plus.lapresse.ca/screens/19fa83cd-1249-43e8-8ac0-4929f9dbb6ae%7C_0.html">The Youth Manifesto / Le manifeste de la jeunesse</a>, by BBC presenter Johny Pitts that has currently been released in French and will soon be released in English. I was also featured in Vinita Kulkarni’s book <a href="https://granthali.in/product/%e0%a4%95%e0%a5%8d%e0%a4%b7%e0%a4%bf%e0%a4%a4%e0%a4%bf%e0%a4%9c-%e0%a4%aa%e0%a4%b6%e0%a5%8d%e0%a4%9a%e0%a4%bf%e0%a4%ae%e0%a5%87%e0%a4%9a%e0%a5%87-kshitij-pashchimeche/">क्षितिज पश्चिमेचे (Western Horizons)</a>. I once competed on the popular Canadian TV show <a href="https://csp.fandom.com/wiki/Maya_Burhanpurkar">Canada’s Smartest Person</a>, but I sadly achieved only a close second on account of my poor balance.<br></p>


<!-- FOOTER -->
<footer class="container">
	<p class="float-right"><a href="#">Back to top</a></p>
</footer>
</main>

    <!-- Bootstrap core JavaScript
    	================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    	<script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    	<!-- <script type="module" src="node_modules/popper.js/dist/popper.min.js"></script> -->
    	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script> -->
    	<script src="js/bootstrap.min.js"></script>
    	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    	<!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    </body>
    </html>
